---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main>
    <article class="flex justify-center flex-col lg:px-[30%] py-4">
      {
        heroImage && (
          <img
            width={720}
            height={360}
            src={heroImage}
            alt=""
            class="rounded-lg my-8"
          />
        )
      }
      <div class="my-4">
        <a href="/" class="text-tertiary hover:underline mb-2">cd ../</a><a
          href="/blog"
          class="text-tertiary hover:underline">blog</a
        >
        <h1 class="title font-serif text-6xl text-primary">{title}</h1>
        <div class="flex gap-4 items-center">
          <FormattedDate date={pubDate} />
          <div class="dot"></div>
          {
            updatedDate && (
              <div class="text-tertiary">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
      </div>

      <div
        class="prose lg:prose-xl dark:prose-invert prose-headings:font-serif prose-headings:font-normal font-sans prose-img:rounded-lg"
      >
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
