---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage,tags } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main>
    <article class="flex justify-center flex-col px-4 md:px-[30%] py-4">
      {
        heroImage && (
          <img
            width={720}
            height={360}
            src={heroImage}
            alt=""
            class="rounded-lg my-8"
          />
        )
      }
      <div class="my-4">
        <a href="/" class="text-tertiary hover:underline">cd ~/</a><a
          href="/blog"
          class="text-tertiary hover:underline">blog</a
        >
        <h1 class="title font-serif text-6xl text-primary mt-2 mb-8">{title}</h1>
        <div class="flex gap-4 items-center">
          <FormattedDate date={pubDate} />
          <div class="dot"></div>
          {
            updatedDate && (
              <div class="text-tertiary">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
          <div class="dot"></div>
          {tags && tags.map(tag => (
            <a href={`/tags/${tag}`} class="link">#{tag}</a>
          ))}
        </div>
      </div>

      <div
        class="prose text-justify prose-pre:text-left prose-blockquote:not-italic prose-blockquote:text-left prose- prose-pre:font-mono prose-li:m-0 prose-li:prose-a:no-underline prose-a:no-underline hover:prose-a:underline prose-a:text-tertiary dark:prose-invert prose-headings:font-serif prose-headings:font-normal font-sans prose-img:rounded-lg prose-h2:text-4xl prose-headings:my-4 prose-headings:mt-8 prose-h3:text-3xl prose-h4:text-2xl"
      >
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
